<body> 
    <div class="showUsers">
        <button (click)="showAllUsers()" mat-fab color="primary">نمایش کاربرها</button>
      
        <h1 *ngFor="let user of allUsers">
          {{user.id}}
          <br>
          {{user.userName}}
        </h1>
      </div>

    <div class="div2">
        <mat-card class="card1">
            <mat-card-header class="header">
                <div mat-card-avatar class="example-header-image"></div>
                <h1>جدول بتونی</h1>
            </mat-card-header>
            <img mat-card-image src="/assets/images/photo_10_2023-08-14_12-34-35.jpg">
            <mat-card-content>
                <p>
                    مزایای استفاده از جدول بتنی
                    <br> زیباسازی محوطه به واسطه طرح ها و رنگ های مختلف
                    <br> دوام بسیار بالا
                    <br> نصب و اجرای نسبتا آسان و سرعت اجرای بالا
                    <br> شکل دادن و جداسازی جاده ها و پیاده رو ها
                    <br> افزایش استحکام و طول بستر روسازی شده
                </p>
            </mat-card-content>
            <mat-card-actions class="action">
                <!-- <button mat-raised-button color="warn"><mat-icon>thumb_up_alt</mat-icon>پسندیدم</button> -->
                <button mat-raised-button color="primary">جهت استعلام قیمت با کارشناسان تماس بگیرید</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card2">
            <mat-card-header class="header3">
                <div mat-card-avatar class="example-header-image3"></div>
                <h1>تیرچه صنعتی</h1>
            </mat-card-header>
            <img mat-card-image src="/assets/images/photo_2023-08-15_00-52-25.jpg">
            <mat-card-content>
                <p>
                    مزایای تیرچه صنعتی
                    <br> کاهش وزن سازه نهایی تولید شده
                    <br> کاهش هزینه نهایی تولید تیرچه
                    <br> سهولت در ذخیره سازی تیرچه ها در تناژ بالا
                    <br> امکان صادرات تیرچه ها
                    <br> کاهش مصرف متریال مختلف
                    <br> تولید میلگرد فوقانی و تحتانی تیرچه به صورت یکپارچه
                    <br> تولید سقف سبک از این طریق
                    <br> صرفه جویی هنگام تولید
                </p>
            </mat-card-content>
            <mat-card-actions class="action">
                <!-- <button mat-raised-button color="warn"><mat-icon>thumb_up_alt</mat-icon>پسندیدم</button> -->
                <button mat-raised-button color="primary">جهت استعلام قیمت با کارشناسان تماس بگیرید</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card3">
            <mat-card-header class="header2">
                <div mat-card-avatar class="example-header-image2"></div>
                <h1>بلوک سیمانی</h1>
            </mat-card-header>
            <img mat-card-image src="/assets/images/photo_11_2023-08-14_12-34-35.jpg">
            <mat-card-content>
                <p>
                    بلوک سیمانی یکی از اصلی ترین مصالح ساخت و ساز محسوب میشود
                    <br>
                    از مهم ترین مزایای بلوک های سیمانی میتوان به موارد زیر اشاره نمود
                    <br> افزایش سرعت دیوارچینی و ساخت سازه
                    <br> کاهش هزینه ساخت نسبت به دیوارهای آجری
                </p>
            </mat-card-content>
            <mat-card-actions class="action">
                <!-- <button mat-raised-button color="warn"><mat-icon>thumb_up_alt</mat-icon>پسندیدم</button> -->
                <button mat-raised-button color="primary">جهت استعلام قیمت با کارشناسان تماس بگیرید</button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>