<div class="main">
    <h2 class="h2">نماد اعتماد بازرگانی</h2>
    <div class="d2">
        <button routerLink="معرفی شرکت" mat-raised-button color="primary">معرفی شرکت</button>
        <button routerLink="مقایسه ما" mat-raised-button color="primary">مقایسه ما</button>
        <button routerLink="نظرات شما" mat-raised-button color="primary">نظرات شما</button>
        <button routerLink="تماس با ما" mat-raised-button color="primary"><mat-icon>phone_in_talk</mat-icon>تماس با ما</button>
    </div>
</div>
