<body>
    <div class="letf-div">
        <button routerLink="ثبت نام" mat-raised-button color="primary">ثبت نام</button>
        <button routerLink="ورود" mat-raised-button color="primary">ورود</button>
        <button routerLink="مشاوره رایگان" mat-raised-button color="warn">مشاوره رایگان</button>
    </div>

    <h1 class="h1">DezBeton</h1>

    <div class="right-div">
        <button routerLink="پروژه های اجرا شده" mat-raised-button color="primary">پروژه های اجرا شده</button>
        <button routerLink="محصولات" mat-raised-button color="primary">محصولات</button>
        <button routerLink="خانه" mat-raised-button color="primary"><mat-icon>home</mat-icon>خانه</button>
    </div>
</body>
